.Satellites{
    width: 100%;
    padding-top: 40px;
    color: white;
    padding: 30px;
    h1{
        text-align: center;
    }
    p{
        padding: 10px;
        font-size: 20px;
    }
    video{
        padding: 30px 10%;
    }
    .margin_text{
        font-size: 20px;
        padding: 20px 50px;
    }    
    h2{
        padding: 10px;
        font-size: 24px;
        font-weight: 900;
    }

    .quizButton{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right:3% ;
        align-items: center;

        button{
            padding-top: 15px;
            padding-left: 40px;
            padding-right:40px;
            padding-bottom: 15px;
            border-radius: 10px;
            background: #68abea;
            transition: all .5s linear;
            color: white;

            &:hover{
                cursor: pointer;
                background: rgb(173, 204, 233);
                color: black;
                transform: scale(1.2);
                // box-shadow: 3px 2px #68abea;
            }
        }
    }
}
@media(max-width:900px){
    .Satellites{
        width: 100%;
        // margin: 80px auto;
        color: white;
        padding: 20px;
        h1{
            text-align: center;
        }
        p{
            padding: 8px;
            font-size: 16px;
        }
        video{
            padding: 20px 8%;
        }
        .margin_text{
            font-size: 16px;
            padding: 20px 30px;
        }    
        h2{
            padding: 8px;
            font-size: 20px;
            font-weight: 900;
        }
    }
}
@media(max-width:500px){
    .Satellites{
        width: 100%;
        // margin: 80px auto;
        color: white;
        padding: 16px;
        h1{
            font-size: 22px;
            text-align: center;
        }
        p{
            padding: 5px;
            font-size: 14px;
        }
        video{
            padding: 16px 2%;
        }
        .margin_text{
            font-size: 14px;
            padding: 16px 20px;
        }    
        h2{
            padding: 5px;
            font-size: 18px;
            font-weight: 800;
        }
    }


}