$form-background-color: #f5f5f5;
$button-background-color: #007bff;
$button-hover-color: darken($button-background-color, 10%);
$input-border-color: #ced4da;
$label-color: #495057;
.Lecturee {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    background-clip: border-box;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 100px;

    .prevButton {
        max-width: 1200px;
        margin: 20px auto;

        button {
            width: 90px;
            padding: 10px;
            color: antiquewhite;
            background: rgb(47, 47, 46);
            border-radius: 10px;
            font-size: 18px;
            transition: all .5s linear;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                background: rgb(173, 204, 233);
                border-radius: 40px;
                color: black;
            }
        }
    }

    .lectureTitle {
        cursor: pointer;
        overflow: hidden;
        max-width: 1200px;
        margin: 0 auto;
        // height: 70vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        grid-template-rows: auto auto auto auto auto;
        gap: 15px;

        .itemLecture {
            height: 13rem;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            padding: 3px;
            transition: all 0.4s linear;
          

            &:hover {
                transform: scale(1.09);
                background-color: #68abea !important;
                color: black;


            }

            p {
                font-size: 15px;
            }
        }
    }
}

.infoParent {
    overflow-x: hidden;
    width: 100%;
    color: white;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .infoParentSlide {
        display: flex;
        justify-content: space-around;
        position: relative;
        .prev,.next {
            position: fixed;
            width: 70px;
            height: 150px;
            background-color: #68abea69;
            // border-radius: 50%;
            top: 40%;
            transition: all .3s linear;
            &:hover{
                background-color: #68abea;
                transform: scale(1.1);
            }
            p {
                margin: 0 auto;
                line-height: 150px;
                font-size: 20px;
                display: flex;
                align-items: center;
            }
    
            p:hover {
                cursor: pointer;
            }
    
    
        }
        .prev{
            // border-top-left-radius: 50%;
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
            left: 0;
            p{
                justify-content: flex-end;

            }
        }
        .next {
            clip-path: polygon(0 0, 0 100%, 100% 50%);
            right: 0;
            p{
                justify-content: flex-start;
            }
        }
       .infoParentContainer {
           overflow-x: hidden;
           // width: 100%;
           color: white;
           // margin: 0 auto;
           background-repeat: no-repeat;
           background-size: cover;
           background-attachment: fixed;
           h1 {
               text-align: center;
               padding-top: 20px;
               padding-bottom: 40px;
           }
   
           .info {
               color: white;
               margin: 0 auto;
               padding-top: 20px;
               width: 90%;
               background: rgb(26 27 29 / 73%);
               .marginText{
                   font-size: 20px !important;
                   line-height: 30px !important;
                   padding: 20px !important;
                //    margin-left: 50px !important;
                   // width: 90%;
                   // display: flex;
                   // justify-content: flex-end;
           
               }
               
               p{
                   font-size: 20px;
                   line-height: 30px;
                   padding: 20px;
               }
               h2 {
                   text-align: center;
                   margin-top: 20px;
                   margin-bottom: 30px;
               }
   
               .text1 {
                   // text-align: center;
                   padding-bottom: 40px;
                   line-height: 40px;
               }
               .imageDiv {
                   width: 80%;
                   display: flex;
                   justify-content: center;
                   margin: 0 auto;
                   padding-top: 20px;
                   padding-bottom: 80px;
                   img {
                       width: 100%;
                   }
               }
           }
       }
       .slideImage {

           margin: 0 auto;
           padding: 0 20px;
           overflow: hidden;
           text-align: center;

           img {
               width: 90%;
           }
       }


   }
   .infoParentSlide1{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .prevvButton {
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       margin: 80px 0;

       button {
           background-color: #68abea;
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 20px;
           padding: 16px;
           color: white;

           &:hover {
               cursor: pointer;
           }

           span {
               margin-left: 14px;
           }
       }
   }
}


.info_next {
   margin: 0 auto;
   max-width: 1200px;
   margin-top: 20px;
   min-height: 300px;

   .nextPrevButtons {
       // margin: 0 auto;
       // width: 100%;
       // margin-left: 100px;
       display: flex;
       justify-content: space-between;
       align-items: center;

       .prev {
           padding: 15px;
           // width: 50%;

           p {
               // text-align: center;
               display: flex;
               justify-content: center;
               align-items: center;
           }

           p:hover {
               cursor: pointer;
           }


       }

       .next {
           padding: 15px;

           // width: 100px;
           p {
               display: flex;
               justify-content: center;
               align-items: center;
           }

           p:hover {
               cursor: pointer;
           }


       }
   }
   


}




@media (max-width:768px) {
   .slideInfo {
       h1 {
           font-size: 16px !important;
       }

       p {
           font-size: 16px !important;
       }
   }
   .prev,.next {
       width: 40px  !important;
       height: 80px  !important;
       top: 30% !important;
       p {
           line-height: 80px !important;
           font-size: 13px !important;
       }
   }

   .infoParent {
       .prevvButton {
           // width: 80vw !important;
           button {
            // padding: 16px !important;
            font-size: 16px !important;

        }
    }
}
}

@media (max-width:695px) {
.Lecturee {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.infoParentContainer{
    padding-top: 25px !important;
    h1{
        font-size: 22px !important;
    }
    .info{
        h2{
            font-size: 18px !important;
        }
    }
}
.prev,.next {
    width: 40px  !important;
    height: 80px  !important;
    top: 30% !important;
    p {
        line-height: 80px !important;
        font-size: 13px !important;
    }
}
}
@media (max-width:580px) {
.prev,.next {
    top: 25% !important;
}
}
@media (max-width:459px) {
.Lecturee {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
}
.prev,.next {
    width: 30px  !important;
    height: 60px  !important;
    top: 23% !important;
    p {
        line-height: 60px !important;
        font-size: 10px !important;
    }
}

.infoParent {
    .prevvButton {
        // width: 80vw !important;

        button {
            // padding: 16px !important;
            font-size: 12px !important;

        }
    }
}
}



@media (max-width:400px) {
.prev,.next {
    width: 30px  !important;
    height: 60px  !important;
    top: 20% !important;
    p {
        line-height: 60px !important;
        font-size: 10px !important;
    }
}
.infoParentContainer{
    padding-top: 10px !important;
    h1{
        font-size: 18px !important;
    }
    .info{
        h2{
            font-size: 14px !important;
        }
        p{
            font-size: 12px !important;
        }
    }
}
.prevvButton{
    margin-top: 30px !important;
    button{
        padding: 5px !important;
}
}

}



.CartTransferTwo2 {
    position: relative;
    font-family: Mordato;
  
    .modal {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.9);
  
      .container {
        width: 90%;
        max-width: 600px;
        min-height: 420px;
        background: #1c1c1d;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
        .conta {
          .topBlock {
            margin: 15px auto;
            width: 97%;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            .topTitle {
              font-weight: 500;
              font-size: 32px;
              letter-spacing: 2%;
              color: #bbcadd;
            }
  
            .btnBack,
  .close {
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
          }
  
          .mainMod {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
  
            .title {
              text-align: left;
              color: #2d4b70;
              font-size: 20px;
              font-weight: 400;
              margin-bottom: 20px;
            }
  
            .link {
              width: 90%;
              margin: 0 auto;
              display: flex;
              flex-wrap: wrap;
  
              .linkText {
                padding: 10px;
                color: black;
                background-color: rgb(170, 250, 250);
                margin: 10px;
                z-index: 10;
              }
            }
           
          }
          .addAnswer{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            form{
                width: 100%;
                label {
                    display: block;
                    margin-bottom: .5rem;
                    color: $label-color;
                    font-weight: bold;
                  }
                
                  textarea {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    // padding: .375rem .75rem;
                    font-size: 1rem;
                    // line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    background-clip: padding-box;
                    border: 1px solid $input-border-color;
                    border-radius: .25rem;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                
                    &:focus {
                      border-color: lighten($input-border-color, 15%);
                      outline: 0;
                      box-shadow: 0 0 0 0.2rem rgba($button-background-color, .25);
                    }
                }

                button {
                    width: 100%;
                    color: #fff;
                    margin-top: 20px;
                    background-color: $button-background-color;
                    border-color: $button-background-color;
                    display: inline-block;
                    font-weight: 400;
                    text-align: center;
                    vertical-align: middle;
                    user-select: none;
                    border: 1px solid transparent;
                    padding: .375rem .75rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    border-radius: .25rem;
                    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                
                    &:hover {
                      background-color: $button-hover-color;
                      border-color: darken($button-background-color, 15%);
                    }
                  }
            }
        }
        }
      }
    }
  
    .modalOpen {
      animation: slideInUp 1s  ease-in-out forwards ;
    }
    
    .modalClosed {
      animation: slideOutDown 1s  linear  forwards;
      animation-delay: 2s;;
    }
  
    @keyframes slideInUp {
      from,
      60%,
      75%,
      90%,
      to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    
      from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0) scaleY(5);
      }
    
      60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0) scaleY(0.9);
      }
    
      75% {
        transform: translate3d(0, 10px, 0) scaleY(0.95);
      }
    
      90% {
        transform: translate3d(0, -5px, 0) scaleY(0.985);
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
    }
  
  
    @keyframes slideOutDown {
      20% {
        transform: translate3d(0, 10px, 0) scaleY(0.985);
      }
    
      40%,
      45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0) scaleY(0.9);
      }
    
      100% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0) scaleY(3);
      }
    }
    
    
  
  
   
  
    @media screen and (max-width: 600px) {
  
  
      .container {
        .conta {
          .topBlock {
            .topTitle {
              font-size: 24px;
            }
          }
  
          .mainMod {
            max-width: 100%;
          }
        }
      }
    }
  }


