.CartTransferTwo {
    position: relative;
    font-family: Mordato;
    .modal {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.9);
  
      .container {
        width: 90%;
        max-width: 600px;
        min-height: 420px;
        background: #1c1c1d;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
        .conta {
          .topBlock {
            margin: 15px auto;
            width: 97%;
            display: flex;
            justify-content: space-between;
            align-items: center;
  
            .topTitle {
              font-weight: 500;
              font-size: 32px;
              letter-spacing: 2%;
              color: #bbcadd;
            }
  
            .btnBack,
  .close {
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
          }
  
          .mainMod {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
  
            .title {
              text-align: left;
              color: #2d4b70;
              font-size: 20px;
              font-weight: 400;
              margin-bottom: 20px;
            }
  
            .link {
              width: 90%;
              margin: 0 auto;
              display: flex;
              flex-wrap: wrap;
  
              .linkText {
                padding: 10px;
                color: black;
                background-color: rgb(170, 250, 250);
                margin: 10px;
              }
            }
          }
        }
      }
    }
  
    .modalOpen {
      animation: slideInUp 1s  ease-in-out forwards ;
    }
    
    .modalClosed {
      animation: slideOutDown 1s  linear  forwards;
      animation-delay: 2s;;
    }
  
    @keyframes slideInUp {
      from,
      60%,
      75%,
      90%,
      to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    
      from {
        opacity: 0;
        transform: translate3d(0, 3000px, 0) scaleY(5);
      }
    
      60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0) scaleY(0.9);
      }
    
      75% {
        transform: translate3d(0, 10px, 0) scaleY(0.95);
      }
    
      90% {
        transform: translate3d(0, -5px, 0) scaleY(0.985);
      }
    
      to {
        transform: translate3d(0, 0, 0);
      }
    }
  
  
    @keyframes slideOutDown {
      20% {
        transform: translate3d(0, 10px, 0) scaleY(0.985);
      }
    
      40%,
      45% {
        opacity: 1;
        transform: translate3d(0, -20px, 0) scaleY(0.9);
      }
    
      100% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0) scaleY(3);
      }
    }
    
    
  
  
   
  
    @media screen and (max-width: 600px) {
  
  
      .container {
        .conta {
          .topBlock {
            .topTitle {
              font-size: 24px;
            }
          }
  
          .mainMod {
            max-width: 100%;
          }
        }
      }
    }
  }
  